.allProducts {
    background-color: white;
    height: 100vh;
}

.wrapper {
    margin-left: 12%;
}

.productList {
    display: flex;
}

.topLine {
    font-size: 65%;
    display: flex;
    padding: 10px 0px 6px 18px;
}

.mechanical {
    color: #1F4F7A;
}