.listView {
    display: flex;
    flex-direction: column;
    height: 445px;
    width: 255px;
    border: 1.5px solid #d9d9d9;
    margin: 5px;

}

.verified {
    font-size: 13px;
    font-family: 'Roboto', sans-serif; 
    color: #6FA7DA; 
    align-self: flex-end;
    margin-right: 6px;
    margin-top: 7px;
    z-index: 10;
}

.fan {
    width: 100%;
    margin-top: -30px;
    z-index: 5;
}

.largeDataDiv {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #1F4F7A;
    font-size: 85%;
    margin-bottom: 15px;
    letter-spacing: 0.8px;
    margin-top: -20px;
}

.largeDataLine {
    margin-bottom: -5px;
}

.strip {
    background-color: #F2F2F2;
    padding-top: 5px;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.listViewData {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: black;
    margin-bottom: -5px;
}

.pastSpecs {
    color: #C30E0E;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 5px;
}

.pastSpecsLine {
    margin-bottom: -5px;
}

.compareAdd {
    font-size: 70%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

.customInput:focus ~ .customLabel::before {
    box-shadow:none !important;
    outline: 0;
}

.addButton {
    margin-top: -9px;
}

.Button {
    /* position: relative;
    right: -1%; */
    background-color: #6384A3;
    color: white;
    outline: 0;
    box-shadow: none !important;
    height: 35px;
    border-radius: 7px;
    /* z-index: 10; */
    padding-right: 5px;
    padding-left: 10px;
    /* align-self: flex-start; */
}
