.headerContainer {
    background: linear-gradient(to right, #ffffff, 30%, #b3d1ec, #cbdff2);
    height: 120px;
    border-bottom: 1.5px solid #BFBFBF;
}

.headerRow {
    padding-top: 10px;
    align-items: center;
}

.logo {
    padding-left: 30px;
    /* padding-top: 15px; */
}

.svgLogo {
    height: 55px;
    margin-left: -16px;
    margin-bottom: 30px;
}

.column {
    text-align: left;
    font-family: 'Fredoka One', cursive;
    font-size: 270%;
    color: #1F4F7B;
}

.searchInput {
    position: relative;
    width: 50%;
    height: 35px;
    border-radius: 0 7px 7px 0;
    outline: 0;
    box-shadow: none !important;
    border: 1.5px solid #999999;
    border-left: none;
    z-index: 5;
    padding-left: 30px;
    padding-top: 3px;
    font-size: 70%;
}

.Button {
    position: relative;
    right: -1%;
    background-color: #d9d9d9;
    color: black;
    outline: 0;
    box-shadow: none !important;
    height: 35px;
    border-radius: 7px;
    margin-bottom: 0.5px;
    z-index: 10;
}
