.searchInput {
    position: relative;
    width: 30%;
    height: 35px;
    border-radius: 0 7px 7px 0;
    outline: 0;
    box-shadow: none !important;
    border: 1.5px solid #999999;
    border-left: none;
    z-index: 5;
    padding-left: 30px;
    padding-top: 3.5px;
    font-size: 70%;
}

.drop {
    position: relative;
    width: 25%;
    height: 35px;
    border: 1.5px solid #999999;
    font-size: 70%;
    left: 50px;
    top: -5px;
    padding-left: 15px;
    cursor: pointer;
}

/* .icon {
    position: relative;
    left: -4.5%;
    z-index: 10;
} */

.Button {
    position: relative;
    right: -1%;
    background-color: #d9d9d9;
    color: black;
    outline: 0;
    box-shadow: none !important;
    height: 35px;
    border-radius: 7px;
    margin-bottom: -1px;
    z-index: 10;
    margin-bottom: 1.4px;
    cursor: pointer;
}